version: '3.7'

networks:
  backend:
    driver: bridge

services:

  nginx:
    build:
      context: ./nginx
    networks:
      - backend
    ports:
      - 80:80
    volumes:
      - ./../www:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./logs/nginx:/var/log/nginx
      
  php-fpm:
    build:
      context: ./php-fpm
    depends_on:
      - mysql
    networks:
      - backend
    volumes:
      - ./../www:/var/www
      - ./php-fpm/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
      - ./php-fpm/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ./php-fpm/app.ini:/usr/local/etc/php/conf.d/app.ini
      - ./php-fpm/php.ini:/usr/local/etc/php/php.ini
      
  mysql:
    build:
      context: ./mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    networks:
      - backend
    ports:
      - 3306:3306
    volumes:
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./data/mysql:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql

  node:
    build:
      context: ./node
    ports:
      - "3000:3000"
    tty: true
    volumes:
      - ./../www:/var/www
